body {
    font-family: 'Open Sans', sans-serif;
    color: #292929;
}

/* Media breakpoints */
/* Small devices (small phone screens) */
@media (min-width: 320px) {
/* slide set up **************************/
    .slide {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    .help-slide {
        background-color: #fdf4f5;
    }
    .exercise-slide {
        background-color: #f1f7ff;
    }
    .background-image {
        /* if slide needs background image instead of color */
        background-image: url("./images/tvm-cover.png");
        background-position: center;
        background-size: auto;
    } 
    /* slide headline title area */
    .slide-title {
        background-color: #466365;
        color: #ffffff;
    }
    .primary-title {
        font-size: 30px;
        padding: 10px 0 0 0;
    }
    .secondary-title {
        font-size: 18px; 
        padding: 0 0 10px 0;
    } 
    /* end slide headline title area */
    .content {
        /* wraps all content below slide header and above slide buttons */
        margin: 20px;
        min-height: 400px;
    }
    .page-number {
        margin: 20px;
    }
    /* end slide set up **************************/

    /* button styles **************************/
    button {
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        width: 125px;
        border-radius: 8px;
        box-shadow: 5px 10px 18px #b1b1b1;
    }
    button:active, button:focus, .btn:active, .btn:focus {
        color: #fff;
    }
    button.start {
        box-shadow: 5px 10px 18px #242424;
        margin-top: 450px;
        margin-bottom: 25px;
    }
    .btn {
        background-color: #466365;
        color: #fff;
        margin: 5px;
    }
    .calculate-btn {
        background-color:  #89002d;
        width: 50%;
        color: white;
        font-size: 14px;
        margin: 10px 0 10px 25%;
    }
    .calculate-btn:active, .calculate-btn:focus {
        color: white;
    }  
    .help {
        /* change help button color */
        background-color: #CC444B;
    } 
    /* end button styles **************************/

    /* image styles **************************/
    .img-fluid {
        margin: 10px;
    }
    .img-math {
        /* max-width: 250px; */
        max-height: 230px;
    }
    /* end image styles **************************/

    /* form styles **************************/
    input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
        width: 70%;
        padding: 10px 10px;
        margin: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: .8em;
        box-shadow: 20px 10px 50px #eeeeee;
    }
    input[type=radio] {
        padding: 10px 10px;
        margin: 10px 10px;
        font-size: 1.8em; 
        transform: scale(1.3);
    }
    input[type=submit] {
        /* sometimes affects form button */
        width: 50%;
        background-color:  #89002d;
        color: white;
        padding: 13px;
        margin: 10px 40px;
        border: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        box-shadow: 5px 10px 18px #b1b1b1;
        font-size: 15px;
    }
    input[type=submit]:hover {
        /* sometimes affects form button */
        background-color: #CEAC8E;
    }
    input:required:invalid, input:focus:invalid {
        border-color: #CC444B;
        background-position: right top;
        background-repeat: no-repeat;
    }
    input:required:valid {
        background: #fff;
        background-position: right top;
        background-repeat: no-repeat;
    }
    /* end form styles **************************/

    /* additional formatting styles */
    .hide {
        /* use to hide occasional instances of something that the slide regularly uses */
        visibility: hidden;
    }  
    .bottom-space {
        margin-bottom: 30px;
    }
    /* .space {
        
    } */
    .indent {
        margin-left: 25px;
    }
    .border {
        border: 1px solid #575656;
    }
    /* end formatting styles **************************/

    /* text styling **************************/
    .note {
        color: #575656;
        font-size: .85em;
    }
    .alert {
        color: #CC444B;
        padding: 0;
    }   
    .math {
        height: 25px;
        margin: 10px 10px 25px 10px;
    }
    .question {
        color: #292929;
        font-style: italic;
        font-size: 1.08em;
    }
    .answer {
        font-size: 1.08em;
        font-weight: 600;
        color: #292929;
        margin-left: 25px;
    }
    /* end text styling **************************/
    
}

/* Small devices (landscape phones, 375px and up) */
@media (min-width: 375px) {
    button {
        width: 150px;
    }
}
/* Small devices (landscape phones, 425px and up) */
@media (min-width: 425px) {
    button {
        width: 125px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .btn {
        margin: 15px 10px;
    }
    .calculate-btn {
        width: 30%;
        margin-left: 15%;
    }
    input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
        width: 40%;
        font-size: 1em;
    }
    input[type=submit] {
        width: 30%;
    }
    .img-math {
        max-width: 400px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    input[type=submit] {
        width: 25%;
    }
    .calculate-btn {
        width: 25%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
        width: 30%;
    }
    input[type=submit] {
        width: 20%;
    }
    .calculate-btn {
        width: 20%;
        margin-left: 10%;
    }
    .img-math {
        max-width: 500px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 
    
} */
