* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5em;
    font-size: 1.08em;
    font-family: 'Open Sans', sans-serif;
    color: #292929;
}
/* .container {
    
}  */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}


/***** Basic Slide Set-up  ********/
.slide {
    width: 800px;
    height: 650px;
    margin: 1% auto;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.help-slide {
    background-color: #f7f2ed;
}

/*  title block on all slides except cover */
.slide-title {
    height: 90px;
    display: block;
    background-color: #466365;
    margin-bottom: 20px;
}

.titleBlock {
    margin: 30px;
}

.primary-title {
    padding-top: 20px;
    /* color: #ffffff; */
}
.secondary-title {
    color: #ffffff;
}
/******* end slide setup *************/


/****** Cover Slide *****************/
.coverslide-title {
    margin-top: 100px;
    padding: 10px 0;
    box-shadow: 5px 10px 18px #888888;
    background-color: #466365;
}

.coverslide-title h1, .coverslide-title h2{
    color: #fff;
    padding: 10px 35px;
}

.background-image {
    background-image: url("./images/tvm-cover.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: auto;
} 
/****** End Cover Slide ****/


/** for CONTENT section  ***/
.contentTitle {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto 15px auto;
}
/*** end all slide titles ***/

/****** General styles ******/
.indent {
    margin-left: 25px;
}

li {
    margin: 0 0 0 30px;
}

p {
    margin-bottom: 25px;
}

.bold {
    font-weight: 800;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icon {
    max-width: 75px;
    max-height: 75px;
    margin: auto;
}

.sideBySide {
    display: flex;
    justify-content: space-around;
}

.image {
    margin: 10px auto 10px;
    display: block;
    width: 100%;
    max-width: 350px;
}

.topSpace {
    margin-top: 20px;
}


/********* BUTTON STYLES *********/
/* standard button  */
button {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    width: 125px;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #b1b1b1;
    margin: 10px auto;
}

button:hover {
    background-color: #bfc3ba;
    color: #292929;
    border: 1px solid #b3b8ad;
}

button:active {
    background-color: #bfc3ba;
    color: #292929;
    border: 1px solid #b3b8ad;
}

.btn {
    background-color: #466365;
    color: #fff;
}

.rightBtn {
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.leftBtn {
    position: absolute;
    bottom: 20px;
    right: 180px;
}

.calculate-btn {
    background-color:  #89002d;
    width: 50%;
    color: white;
    font-size: 14px;
    margin: 10px 60px;
    border: none;
}

.active {
    background-color: #bfc3ba;
    color: #292929;
    border: 1px solid #b3b8ad;
}

/**** for slides with left menu buttons and right content, use with .content-btns div and .rightContent ****/
.btn-group-left {
    float: left;
    width: 25%;
    margin: 8% auto auto 5%;
}

.rightContent {
    float: left;
    width: 60%;
    margin: 30px 45px 40px 30px;
}

/* when the slide has no buttons in the content area */
.content-noBtns {
    margin: 45px 40px;
}
/**********************/



/** SLIDE SIX BUTTON STYLES ****/
button.pv {
    background-color: #FA6400;
    color: #fff;
    font-weight: 400;
}

button .yrs {
    background-color: #6d4bb1;
    color: #fff;
    font-weight: 400;

}

button.interest {
    background-color: #e653eb;
    color: #fff;
    font-weight: 400;
}
/***** end button styles *****/


/* slide page number */
.page-number {
    position: absolute;
    bottom: 20px;
    left: 35px;
}


/* text styles ********* */
.fv {
    color: #80a429;
    font-weight: 600;
    /* font-size: 1.2em; */
}

 .yrs {
    color: #6d4bb1;
    font-weight: 600;
    /* font-size: 1.2em; */
}

.pv {
    color: #FA6400;
    font-weight: 600;
    /* font-size: 1.2em; */
}

.interest {
    color: #e653eb;
    font-weight: 600;
    /* font-size: 1.2em; */
}

.faded {
    color: #575656;
    font-size: .9em;
}

.help {
    background-color: #CC444B;
}

.answer {
    font-size: 1.5em;
    font-weight: 700;
    color: #292929;
}

.center {
    margin: auto;
    width: 95%;
}


/*********************** forms general ***************/

input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
    width: 70%;
    padding: 10px 10px;
    margin: 10px 10px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .8em;
    box-shadow: 20px 10px 50px #eeeeee;
}


input[type=submit] {
    width: 50%;
    background-color:  #89002d;
    color: white;
    padding: 13px;
    margin: 10px 40px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 5px 10px 18px #b1b1b1;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #CEAC8E;
}

input:required:invalid, input:focus:invalid {
        border-color: #CC444B;
        background-position: right top;
        background-repeat: no-repeat;
}

input:required:valid {
        background: #fff;
        background-position: right top;
        background-repeat: no-repeat;
}